.loginbox {
  width: 380px;
  margin: 40px auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  text-align: center;
  color: black;
  font-weight: bolder;
  padding: 20px;
  a {
    font-size: 10px;
    color: gray;
    font-weight: lighter;
  }
  h2 {
    font-weight: bold;
  }
}


