#show-text {
  font-size: 10px;
  font-style: italic;
}

#background-add {
  position: absolute;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.form-container {
  position: relative;
}

.page-container-add {
  min-height: calc(100vh - 70px);
  padding-top: 80px;
}
