#show-text {
  font-size: 10px;
  font-style: italic;
}

.form-container {
  font-weight: bold;
  float: right;
}

.form-control-label {
  float: left;
}

#background-add {
  position: absolute;
  background-size: cover;
  background-position: center;
}

.form-container {
  position: relative;
}


