.page-container {
  padding: 66.5px 0px 50px 0px;
  // navbar = 66.5px
}

.margin-bottom-s {
  margin-bottom: 1rem;
}

.margin-bottom-m {
  margin-bottom: 2rem;
}

.margin-bottom-l {
  margin-bottom: 4rem;
}
