.page-container {
  padding: 66.5px 0px 50px 0px;
  // navbar = 66.5px
  min-height: 100vh;
  margin-top: 67px;
  background-size: cover;
  background-position: bottom center;
  padding:0;
}

.margin-bottom-s {
  margin-bottom: 1rem;
}

.margin-bottom-m {
  margin-bottom: 2rem;
}

.margin-bottom-l {
  margin-bottom: 4rem;
}
.background-camels {
  // background-image: url("https://images.unsplash.com/photo-1505925119181-3537e71dbc72?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1355&q=80");
  // background-size: cover;
}
