<h1>Camels#edit</h1>
<div class="container">
  <h1>Edit a camel's profile</h1>
  <%= render 'form', camel: @camel %>
  <%= link_to 'show', camel _path  %>
  <%= link_to 'Back', camels_path %>
</div>



