<div class="camel-background">


<div class="container">
    <div class="form-container">
      <h1>Add your camel</h1>
      <%= render 'shared/form', camel: @camel, format: 'new' %>
      <p id="show-text"><%= link_to 'Show all camels available', camels_path%></p>
    </div>
  </div>
</div>
</div>

