.btn{
  margin-left: 0px;
  background-color: #c2b280;
}

.btn:hover {
  opacity: 0.8;
}

.btn-home {
  margin-left: 50px;
  border-radius: 5px;
}

.btn-book {
  margin-top: 8px;
  font-size: 14px;
}
.btn-delete {
  background-color: black;
  color: $desert;
  margin-top: 5px;
  &:hover{
  background-color: red;
  }
}

