.btn{
  margin-left: 0px;
  background-color: #c2b280;
}

.btn:hover {
  opacity: 0.8;
}

.btn-home {
  margin-left: 50px;
  border-radius: 5px;
}

.btn-book {
  margin-top: 8px;
  font-size: 14px;
}
.btn-delete {
  background-color: black;
  color: $desert;
  margin-top: 5px;
  &:hover{
  background-color: red;
  }
}

.btn-navbar-right {
  background-color: black;
  border-radius: 0.5px;
  padding: 8px 15px;
  margin: 0 3px;
  font-size: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

}

.btn-navbar-left {
  background-color: black;
  border-radius: 20px 0 0 20px;
  padding: 8px 15px;
  margin: 0;
  font-size: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


