.card-product {
  width: 280px;
  height: 450px;
  margin: 32px auto !important;
  border-radius: 24px;
  background-color: white;
  color: $desert;
  background-position: right top;
  background-size: 100%;
  position: relative;
  margin: 16px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  &:hover {
    opacity:0.9;
  }
}

.card-product-infos {
  background-color: white;
  width: 100%;
  font-size: 12px;
  border-radius: 0px;
  position: absolute;
  bottom: 0px;
  padding: 16px;
  text-align: center;
  border-radius: 0 0 10px 10px;
  .btn {
    color: white;
    border-radius: 24px;
  }
  h2 {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 30px;
  }
  h3 {
    font-size: 18px;
    font-weight: bold;
  }
  p {
    color: rgb(50,50,50);
    font-size: 12px;
  }
}

.more {
  font-size: 10px;
  color: $desert;
  font-style: italic;
}

.card-photo {
  position: absolute;
  width: 100%;
  height: 50%;
  background-size: cover;
  background-position: top center;
  border-radius: 24px 24px 0 0;
}

.card-feature {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background: white;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  h4 {
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
  }
}


.row-cards-features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 75px;
}
