.bookingform {
  width: 500px;
  background-color: #c2b280;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  text-align: center;
  color: black;
  font-weight: bold;
  padding: 50px;
  height: 670px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  h1 {
    font-size: 40px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  a {
    color: black;
    &:hover {
      text-decoration: none;
      color: rgb(120, 120, 120);
    }
  }
  .btn {
    color: white;
    background-color: black;
    border-radius: 24px;
    margin: 16px;
  }
  span {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 19px;
  }
}

.imagebooking {
  background-position:center;
  background-size: cover;
  width: auto;
  height: 200px;
  display:block;
  width:auto;
  border: 2px solid white;
  border-radius:7px;
}

.form-control-label {
  float: left;
  font-size: 12px;
}

.file {
  float: left;
  font-size: 12px;
}

.bookingform h2 {
  margin-top: 10px;
}

.bookingform p {
  font-weight: lighter;

}

input#booking_date {
  border-radius: 5px;
}
