.bookingform {
  width: 580px;
  margin: auto 0 auto;
  background-color: #c2b280;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  text-align: center;
  color: black;
  font-weight: bold;
  padding: 20px;

  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  a {
    color: black;

    &:hover {
      text-decoration: none;
      color: rgb(120, 120, 120);
    }
  }

  .btn {
    color: white;
    background-color: black;
    border-radius: 24px;
    margin-bottom: 16px;
  }
}

.imagebooking {
  background-position:center;
  background-size: cover;
  width: auto;
  height: 200px;
  display:block;
  width:auto;
  border: 2px solid white;
  border-radius:7px;
}

.form-control-label {
  float: left;
  font-size: 12px;
}

.file {
  float: left;
  font-size: 12px;
}

.bookingform h2 {
  margin-top: 10px;
}

.bookingform p {
  font-weight: lighter;

}

