.form-container {
  width: 380px;
  margin: 50px auto;
  position: relative;
  background-color: #c2b280;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  text-align: center;
  color: black;
  font-weight: bold;
  float: left;
  h1 {
    font-size: 24px;
    margin: 0;
  }
  a {
    color: black;
    &:hover {
      text-decoration: none;
      color: rgb(120, 120, 120);
    }
  }

  .btn {
    color: white;
    background-color: black;
    border-radius: 24px;
    margin-bottom: 16px;
  }
}

.form-control-label {
  float: left;
  font-size: 12px;
}

.file {
  float: left;
  font-size: 12px;
}

.form-actions {
  margin-bottom: 10px;
}

.form-check-label {
  font-size: 12px
}
